
	<div id="myCarousel" class="carousel slide">   
      <div class="carousel-inner">
        <div class="item active">
		<img src="http://i.imgur.com/8QEtx3k.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Call Me Joe</h1>
              <p class="lead">My name is Joseph Carlson, but you can call me Joe! To learn more about me, click the button below.</p>
              </br>
              <%= link_to "About Me", about_path, class: 'btn btn-large btn-primary'  %>
            </br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://i.imgur.com/kTv9fDI.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>My Blog</h1>
              <p class="lead">Thoughts and helpful code snippets</p>
              </br>
              <%= link_to 'Enter Here', "#", class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://i.imgur.com/1zjVPoN.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Twitter Clone</h1>
              <p class="lead">Fully functional twitter clone and social media platform</p>
              </br>
              <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->