<% provide(:title, 'About') %>
    <h1>About Me</h1>
      
      <div class="featurette">

        <img class="featurette-image pull-right" <%= image_tag("PixelPortrait.jpg", alt: "")%>
        <h2 class="featurette-heading">My name is Joe Carlson and my passion is helping people leverage powerful new technology to help grow the story of their business. </h2>
        <p class="lead">It is my personal mission is to better understand you and your unique business story so I can help you leverage powerful tools to build your business.</p>
      </div>

	<p>When I was growing up, my family had a Mac II. I spent hours on it creating elaborate stories and drawings on it with simple paint programs. It was amazing to me that I could use this little machine to create pictures and to share my ideas with others. This computer was able to spark conversations with my friends and family and instilled a lifelong interest in how technology can be used to bring people together. </br></br>

	Today, as a consultant at RBA Inc., I create new stories for businesses with technology. I have been successfully supporting small to large enterprises in the Twin Cities area with IT project consulting services and professional services across multiple technology and business areas. </br> </br> 

	I graduated from Gustavus Adolphus College with a degree in Computer Science, and a minor in Art History. During my four years at Gustavus I was highly involved around campus. I was Co-President of Epsilon Pi Alpha Fraternity. I represented Gustavus from the student perspective as a 'Gustavus Ambassador.' I was a member of the first year orientation process as a Gustie Greeter, and I worked as a Technology Helpline Associate at Gustavus Technology Services.</br> </br> 

	RBA is an award-winning, nationally-recognized Microsoft partner, that delivers unparalleled technology expertise combined with an uncompromising commitment to service. Currently on Inc. 500’s List of the country’s fastest-growing private companies and consistently named a Best Place to Work, RBA’s entrepreneurial spirit and rewarding employment experience attracts the industry's top technical talent.</br> </br> 
    </p>


    <div class="container marketing">
	  <h1>Where I Have Worked</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
		  <div align = "center">
		  <%= link_to image_tag("RBA.jpg", alt: ""), "http://www.rbaconsulting.com/" %>
          <h2>RBA Inc.</h2>
		  <h3>Consultant</h3>
		  </div>
          <p>Work in partnership with clients, advising them how to use SharePoint in order to meet their business objectives, overcome problems, or to provide strategic guidance to organizations with regard to IT technology.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
		  <div align = "center">
		  <%= link_to image_tag("TORO.jpg", alt: ""), "http://www.toro.com/"%>
          <h2>The Toro Company</h2>
		  <h3>Advanced Desktop Intern and Project Manager</h3>
		  </div>
          <p>Tested and verified the compatibility of all applications used by the Toro Company on Windows 7. Ran test environments, and coordinated tests with current employees, facilitated testing process. Documented all test cases, and communicated with others working on the project.
			Also worked as Project Manager on developing a Software that is currently used by The Toro Company.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
		  <div align = "center">
		  <img class="img-circle" data-src="holder.js/140x140" <%= link_to image_tag("GAC.jpg", alt: ""), "https://gustavus.edu/"%>
          <h2>Gustavus Technology Services</h2>
		  <h3>Technology Helpline Associate</h3>
		  </div>
          <p>Communicated with students and staff, solved computer and technology related issues. Provided initial contact for people with service issues. Trained incoming employees on computer troubleshooting techniques.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
</div>
	