<% provide(:title, 'Help') %>
  <body>
      <div class="featurette">
        <img class="featurette-image pull-right" <%= image_tag("Joe Circle.JPG", alt: "")%>
      <h1>Help</h1>
      <p>This is the page where I will direct you to help and stuff!!</p>
      </div>
  </body>
</html>