<% if signed_in? %>
  <div class="container">
    <div class="row">
      <aside class=".col-md-4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class=".col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div> <!--row-->
  </div> <!--container-->
<% else %>

<!-- MAIN IMAGE SECTION -->
<div id="homeheaderwrap">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      </br>
      <h2>You can</h2>
      <h1>Call Me Joe</h1>
      <div class="spacer"></div>
      <i class="fa fa-angle-down"></i>
    </div>
  </div><!-- row -->
</div><!-- /headerwrap -->
</br>

<div class="container">
  <h1>About This Site</h1>
  <h3 pull-left>Call Me Joe is the personal blog and web design playground for Minneapolis based web developer, SharePoint consultant, tech gunkie, and photographer, Joe Carlson.</h3> </br>

  <p> This is a place for me to showcase my projects and share what I know with the world.</p></br>

  <p>Call Me Joe was started in 2013 and is developed using Ruby On Rails, and is hosted by Heroku.</p></br>

</div>
<% end %>