<!-- MAIN IMAGE SECTION -->
<div id="homeheaderwrap">
  <div class="row" style="margin-right:0;">
    <div class="col-lg-8 col-lg-offset-2">
      </br>
      <h2>You can</h2>
      <h1>Call Me Joe</h1>
      <div class="spacer"></div>
      <i class="fa fa-angle-down"></i>
    </div>
  </div><!-- row -->
</div><!-- /headerwrap -->
</br>

<div id="white">
  <div class="container" style="margin-top: 2%; margin-bottom: 4%">
    <h1>About This Site</h1>
    <h3 pull-left>Call Me Joe is the personal blog and web design playground for Minneapolis based web developer, SharePoint consultant, tech junkie, and photographer, Joe Carlson.</h3> </br>
  </div><!-- /container -->
</div> <!-- /white -->



<div class="full-width-image-blog-home-page">
  <h1><a href="/posts"><i class="fa fa-pencil"></i> My Blog</a></h1>
</div><!-- /full-width-image-1 -->


  <div id="projects" style="padding-top: 5%; padding-bottom: 5%">
    <div class="container">
      <div class="row">
        <h1>My Latest Work</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <%= link_to image_tag("http://placehold.it/350x150&text=Twitter+Clone+Pic", alt: ""), "/microposts"%>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
          <h3>twitter clone</h3>
          <p><more>My Twitter app is a proof of concept of some of the work I have been recently studying. Just like with real Twitter, you can follow/unfollow users, compose “tweets,” browse your Twitter feed, update your profile settings, manage your posts, and much more! I'd recommend creating an account, following some other users, and tweeting!<br/><br/>
          <p><a> <%= link_to "Take me there!", "/microposts", class: "btn btn-black btn-lg" %></a></p>
        </div>
      </div>
    </div>
  </div><!-- row -->
</div><!-- /headerwrap -->
