<% provide(:title, 'All users') %>

<div class="all_users_image">
    <div class="col-lg-12">
      <h1>All users</h1>
    </div>
</div><!-- /headerwrap -->

<div class="container">
	<% if signed_in? %>
	<% else %>
		<h3><strong><a> <%= link_to "Sign in", "/microposts" %></a></strong> to start posting! Or you can check out other user's posts below!</h3>
	<% end %>	


	<%= will_paginate %>

	<ul class="users">
	  <%= render @users %>
	</ul>

	<%= will_paginate %>
</div>