<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<div>
  <%= link_to "view my profile", current_user %>
</div>
<div>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</div>