<% provide(:title, 'Blog') %>
<div class="full-width-image-1">
  <h1> Blog Posts </h1>
</div><!-- /full-width-image-1 -->
</br></br></br>

<div class="container">
<%= will_paginate %>
</div>

<% @posts.each do |post| %>
   <%= render post %>
<% end %>

<div class="container">
<%= will_paginate %>
</div>
<br/>

<div class="container">
<p>
	<% if current_user && current_user.admin? %>
		<%= link_to 'New Post', new_post_path %>
	<% end %>
</p>
</div.

