<li>
  <div class".col-md-6", "content"><%= micropost.content %></div>
  <div class".col-md", "timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </div>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>