@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
  height:100%;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
  margin-left: 40px;
  margin-top: 20px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  font-family: 'Droid Sans', sans-serif;
  margin-bottom: 10px;
}

/* header */

#logo {
  font-family: 'Droid Sans', sans-serif;
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
  line-height: 1;
  color: black;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


i {
    font-size: 70px;
}

.centered {
    text-align: center;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px;
    &:last-child {
      border-bottom: 1px solid;
    }
  }
}

.all_users_image {
  background: url('http://imgur.com/r2F5fcv.jpg') no-repeat center center;
  background-size: cover;
  text-align: center left;
  padding: 150px 0;
}

.all_users_image h1 {
  font-family: 'Droid Sans', sans-serif;
  color: white;
  font-size: 60px;
  font-weight: 80;
  letter-spacing: 2px;
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: grey;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* Sign Up */

#signup input{
  width: 50%;
  text-align: left;
}

/*Sign In Page ------------------------------------------ */
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://31.media.tumblr.com/ad65726441493f47e0c8f0473206f4e5/tumblr_mvwl4fCEb21rdpk23o1_1280.jpg');
  }
  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    text-align: center center;
  }
  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 20px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    height: 30px;
    margin-bottom: -1px;
    padding-left: 7px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[type="password"] {
    height: 30px;
    margin-bottom: 7px;
    padding-left: 7px;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #000;
  }

  .form-signin a{
    color: white;
  &:hover {
    color: grey;
    }
  }
  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }

/* Homepage Header
    -------------------------------------------------- */
#homeheaderwrap {
    background: url('http://i.imgur.com/3hPdGW5.jpg') no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 750px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    right: 0;
    left: -30;
    position: relative;
}
#homeheaderwrap h1 {
    font-family: 'Droid Sans', sans-serif;
    margin-top: 40px;
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
}
#homeheaderwrap h2 {
    font-family: 'Droid Sans', sans-serif;
    margin-top: 80px;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
}
#homeheaderwrap i {
    font-size: 35px;
    color: #fff;
}
#homeheaderwrap .spacer {
    margin-top: 220px;
}

/* -------------------My Latest work --------------------- */

.blog-homepage-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;
  padding:100px 0;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  &:hover {
    opacity:0.4;
    }
}

.blog-homepage-image  h1 {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.blog-homepage-image  a {
  text-decoration: none;
}

#projects {
    background: #1abc9c;
    padding-top: 35px;
    padding-bottom: 35px;
}
#projects h1 {
    color: #fff;
}
#projects h3 {
    color: #fff;
}
#projects p {
    color: #fff;
}
#projects i {
    color: #fff;
    font-size: 25px;
}
#projects a {
    color: white;
    font-size: 25px;
  &:hover {
    opacity:0.4;
    }
}

.btn {
    border-radius: 0;
}

.btn-black {
    color: #fff;
    background-color: black;
    border-color: black;
    font-weight: 300;
}
.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open .dropdown-toggle.btn-black {
    color: #fff;
    background-color: black;
    border-color: black;
    font-weight: 100;
}


/* ----------- About Me --------------- */
#aboutheaderwrap {
  background: url('http://i.imgur.com/DzxC2P2.jpg') no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  background-attachment: relative;
  background-position: center 15%;
  min-height: 600px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: -30;
  left: -30;
  position: relative;
}

#aboutheaderwrap h1 {
  font-family: 'Droid Sans', sans-serif;
  margin-top: 40px;
  margin-left: 20px;
  color: #fff;
  text-align: left;
  font-size: 140px;
  font-weight: 700;
  letter-spacing: 3px;
}
#aboutheaderwrap h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
}

@media all and (max-width: 500px) {
    #aboutheaderwrap h1 {
        font-size: 100px;
    }
}

@media all and (max-width: 300px) {
    #aboutheaderwrap h1 {
        font-size: 80px;
    }
}

/* ------------------- Where I work -------------------------------- */
#lg {
    background: #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
}

#lg h1 {
    color: black;
}
#lg i {
    color: black;
    font-size: 50px;
    margin-top: 22px;
}

/* -------------------Service and Leadership --------------------- */

#green {
    background: #1abc9c;
    padding-top: 35px;
    padding-bottom: 35px;
}
#green h3 {
    color: #fff;
}
#green p {
    color: #fff;
}
#green i {
    color: #fff;
    font-size: 25px;
}
#green a {
    color: white;
    font-size: 25px;
  &:hover {
    opacity:0.4;
    }
}

#green btn-large btn-primary {
  color: black;

}

/* -------------------Education --------------------- */

#black {
    background: #2f2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
}
#black h1 {
    color: #fff;
}
#black h2 {
    color: #fff;
}
#black h3 {
    color: #fff;
}

#black p {
    color: grey;
}

#black i {
    color: #fff;
    font-sze: 40px;
}

#black a {
    color: #fff;
  &:hover {
    opacity:0.4;
    }
}


/* -------------------White --------------------- */

#white {
    background: white;
    padding-top: 35px;
    padding-bottom: 35px;
}
#white h1, h2, h3, h4, h5 {
    color: black;
}

#white p {
    color: black;
}

#white i {
    color: black;
    font-sze: 40px;
}

#white a {
  &:hover {
    opacity:0.4;
    }
}

/* ------------------- Blog -------------------------------- */

.blog-full-width-post-header-index-image {
  background-size: cover;
  text-align: center;
  padding: 150px 0;
}

.blog-full-width-post-header-index-image h1 {
  font-family: 'Droid Sans', sans-serif;
  margin-top: 40px;
  color: white;
  font-size: 60px;
  font-weight: 80;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.blog-full-width-post-header-index-image  a {
  text-decoration: none;
  color: white;
}

.blog-full-width-post-index-image {
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
  text-align: center;
  padding:100px 0;
}

.blog-full-width-post-image {
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
  text-align: center;
  padding:200px 0;
}

.full-width-image-blog-home-page {
  background: url(http://i.imgur.com/IWJLaFU.jpg) no-repeat center center;
  background-size: cover;
  background-position: center center;
  min-height: 100px;
  text-align: center;
  padding: 150px 0;
}

.full-width-image-blog-home-page h1 {
  font-family: 'Droid Sans', sans-serif;
  margin-top: 0px;
  color: white;
  font-size: 60px;
  font-weight: 80;
  letter-spacing: 2px;
}

.full-width-image-blog-home-page i {
  color: white;
}

.full-width-image-blog-home-page a {
  font-style: normal;
  color: white;
  &:hover {
    color: white;
  }
}


/* ------------------- Social Footer ------------------- */
#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-3 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #1abc9c;
}
#sf .dg {
    background-color: #16a085;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ------------------- Contact Footer ------------------- */

#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}
#cf {
    background: #2f2f2f;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}

#cf a {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}

#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}
/* ------------------- Flickr ------------------- */

.flickr ul
{
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.flickr ul li 
{
        border-bottom: 0;
        margin: 0;
        padding: 0;
}

.flickr_photo
{
        width: 75px;
        height: 75px;
        padding: 12px 10px 32px 13px;
        margin: 0;
        background: #fff url(../images/pixellated/polaroid.jpg) no-repeat;
}