<footer class="footer">
  <nav>
    <ul class="pull-right"
      <li><a href="#">Back to top</a></p></li>
    </ul>
  </nav>
	<p>&copy; 2014 &middot; <%= link_to "Joseph Carlson",root_path %></p>
</footer>