<footer class="footer">
	<nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="#">Back to top</a></p></li>
    </ul>
  </nav>
	<p>&copy; 2014 &middot; <%= link_to "Joseph Carlson",root_path %> All rights reserved.</p>
</footer>